* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
  font-family: arial, verdana, sans-serif;
}

.container {
  margin: 10px auto;
  width: 540px;
  height: 100%;
  border: 5px solid black;
  color: black;
  border-radius: 5%;
}

.timer {
  margin: 0 3.29em;
}

.reloj {
  float: left;
  font-size: 80px;
  font-family: arial, verdana, sans-serif;
  color: black;
}

.boton {
  outline: none;
  border: 3px solid black;
  color: black;
  width: 125px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  font-family: arial, verdana, sans-serif;
  text-shadow: 0.2px 0.1px;
  cursor: pointer;
}
.boton:active {
  background-image: linear-gradient(#195f99, #a7d9ff);
}
.boton:hover {
  box-shadow: 0px 0px 14px #a7d9ff;
}

.buttons {
  padding: 0px 4.3em;
  margin: 50px 0;
  margin-left: 0;
  display: block;
}

textarea {
  display: block;
  width: 530px;
  height: 500px;
  font-family: arial, verdana, sans-serif;
  font-size: 20pt;
  font-weight: 600;
  resize: none;
  border-radius: 2%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top: 5px solid black;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
}

.media-icons {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a {
  position: relative;
  color: #111;
  font-size: 40px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child) {
  margin-right: 60px;
}

.media-icons a:hover {
  transform: scale(1.5);
}

@media (max-width: 400px) {
  .container {
    width: 350px;
    margin: 10 auto;
  }

  .timer {
    margin: 0 2.63em;
  }

  .boton {
    width: 76.6px;
    font-size: 18px;
  }

  .buttons {
    padding: 0px 2.9em;
  }

  .reloj {
    font-size: 48px;
  }

  .notes {
    margin-top: -10px;
    height: 600px;
  }

  textarea {
    width: 340px;
    height: 600px;
    font-size: 18pt;
  }

  .media-icons {
    padding-top: 20px;
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  textarea {
    height: 800px;
  }

  .notes {
    height: 800px;
  }

  .media-icons {
    padding-top: 20px;
    margin: 0 17.3em;
  }
}
